.contaienr__preview-screen {
    padding: 1rem;
}

.contaienr__preview-screen .title__preview {
    color: $title;
    font-size: 18px;
}

.contaienr__preview-screen .sub__title-preview {
    color: $subtitle-grey;
}

.preview__screen {
    background-color: #d7d7d7;
    height: 300px;
    width: 100%;
}

table {
    margin-top: 1rem;
}